doctype html
//if lt IE 7
    html.no-js.ie6.oldie(lang='en')
//if IE 7
    html.no-js.ie7.oldie(lang='en')
//if IE 8
    html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
    //<![end if]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title=title
        meta(name="description", content=description)
        meta(name="author", content=author)
        meta(name="viewport", content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
          
    body
      table
        tr
          td Clicks
          td Created
          td Expires
          td GUID
          td ID
          td URL
        each link, i in links
                tr
                  td #{link.clicks}
                  td #{link.createdAt}
                  td #{link.expires_at}
                  td #{link.guid}
                  td #{link.id}
                  td #{link.url}
      footer
                